<header class="topbar">
  <div class="title">Tổng quát</div>
  <div class="actions">
    <button class="icon-btn" title="Cài đặt"><i class="ri-settings-4-line"></i></button>
    <button class="icon-btn" title="Thông báo"><i class="ri-notification-3-line"></i></button>
    <div class="profile">
      <div class="avatar" id="vendorAvatar"><i class="ri-user-3-fill"></i></div>
      <span id="vendorName">Nhà xe</span>
    </div>
  </div>
</header>